# Node
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
build
out

# Next.js
.next

# Turbo
.turbo
.turbo/*

# Vercel
.vercel

# macOS
.DS_Store

# Env
.env
.env*.local

# Logs
*.log

# Temp
.temp
.tmp