@import "swiper/css";
@import "swiper/css/scrollbar";
@import "swiper/css/autoplay";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/free-mode";
